.page-helping{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-in-primary);
    background: var(--color-primary);
}
#page-content-helping{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-primary);;
    margin-top: 7rem ;
}

.imgLanding ,#loginImg img{
    width: 100%;
    height: 60vh;
    align-items: center;
}


.bloco-text{
    margin: 5rem 3rem;
}

#loginImg{
    display: flex;
    align-items: center;
    justify-content: center; 
}
#page-helping-content{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary)
}
.area-text{
    margin: 3rem auto;
}
.text{
    text-align: center;
    color:rgb(76, 122, 248);
}
h3{
    text-align: center;
}

#email, #tell{
    width: 15rem;
    height: 4rem;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: white;
    margin: 1rem;
    background:var(--color-primary-light);
    align-items: center;

}

#email:hover, #tell:hover{
    background: var(--color-primary-lighter);
}

#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
@media(max-width: 760px){
    #page-helping-content{
        background: var(--color-primary);
    }
}
